<div class="editor-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-xs-12">
        <%= form_tag("/articles/#{@article.id}/update") do %>
          <% @article.errors.full_messages.each do |message| %>
            <ul class="error-messages">
              <li><%= message %></li>
            </ul>
          <% end %>
          <fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control form-control-lg" value="<%=@article.title %>" name="title" />
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" value="<%=@article.summary %>" name="summary" />
            </fieldset>
            <fieldset class="form-group">
              <textarea
                class="form-control"
                rows="8"
                placeholder="Write your article (in markdown)"
                name="content"
              ><%=@article.content %></textarea>
            </fieldset>
            <fieldset class="form-group">
              <input type="text" class="form-control" placeholder="Enter tags" value="<%=@article.tags.map(&:name).join(",") %>" name="tags" />
              <div class="tag-list">
                <span class="tag-default tag-pill"> <i class="ion-close-round"></i> tag </span>
              </div>
            </fieldset>
            <button class="btn btn-lg pull-xs-right btn-primary" type="submit">
              Publish Article
            </button>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>