<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a href="/login">Have an account?</a>
        </p>

        <% @user.errors.full_messages.each do |message| %>
          <ul class="error-messages">
            <li><%= message %></li>
          </ul>
        <% end %>
        <%= form_tag("/users/create") do %>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Username" name="name" value="<%= @user.name %>" />
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="text" placeholder="Email" name="email" value="<%= @user.email %>" />
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="password" placeholder="Password" name="password" value="<%= @user.password %>" />
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit" >Sign up</button>
        <% end %>
      </div>
    </div>
  </div>
</div>